<center>
	<img src="{{ absolute_url(asset("bundles/app/logo.png")) }}" style="max-width: 100%;"/>
</center>

<h4>{{ "notification_email_body_title"|trans({"%list%": list, "%city%": city}) }}</h4>

<p>
	{{ "notification_email_body_text"|trans|nl2br }}
</p>
<p>
	{{ url }}
</p>